@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --icon: #D09963;
    --background: #f4cb92;
    --bright: #e9d2b8;
    --green: #7a8a54;
    --background1: #e2a97e;
    --header: #112232;
    --white: #ffffff;
    --orwhite: #fffaf3;

    --navigation-bar-font-size-big: 18px;
    --navigation-bar-font-size-medium: 16px;
    --navigation-bar-font-size-small: 4.3vw;   /* Do ustawienia*/

    --icons-font-size-big: 1.1vw;
    --icons-font-size-medium: 1.75vw;
    --icons-font-size-small: 4vw;   /* Do ustawienia*/

    --paragraph-first-and-second-font-size-big: 1.2vw;
    --paragraph-first-and-second-font-size-medium: 1.95vw;
    --paragraph-first-and-second-font-size-small: 5.4vw;   /* Do ustawienia*/

    --text-header-font-size-big: 1.9vw;
    --text-header-font-size-medium: 2.7vw;
    --text-header-font-size-small: 6.7vw;   /* Do ustawienia*/

    --motto-font-size-big: 1.5vw;
    --motto-font-size-medium: 2.1vw;
    --motto-font-size-small: 5vw;   /* Do ustawienia*/

    --between-h1-font-size-big: 2vw;
    --between-h1-font-size-medium: 2.875vw;
    --between-h1-font-size-small: 7vw;   /* Do ustawienia*/

    --between-paragraph-font-size-big: 1.1vw;
    --between-paragraph-font-size-medium: 1.7vw;
    --between-paragraph-font-size-small: 3.4vw;   /* Do ustawienia*/

    --info-h1-font-size-big: 2.475vw;
    --info-h1-font-size-medium: 3.2vw;
    --info-h1-font-size-small: 6.9vw;   /* Do ustawienia*/

    --info-p-font-size-big: 1.375vw;
    --info-p-font-size-medium: 1.92vw;
    --info-p-font-size-small: 4.3vw;   /* Do ustawienia*/
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins";
    background-color: var(--background);
}

.navigation {
    position: static;
    top: 0;
    width: 100%;
    padding: 30px 0px;
    background-color: var(--header);
    margin: 0px;
    font-size: var(--navigation-bar-font-size-big);
    border-bottom: #8f8f8f 2px solid;
}

.navigation img{
    display: none;
}

nav {
    text-align: center;
}

nav a, .phone { 
    text-decoration: none;
    color: white;
    padding: 0.5vw 1.4vw;
    border-radius: 4vw;
    transition: 0.3s;
}

nav a:hover {
    background-color: #06101a;
}

#bottom-header {
    width: 100%;
    height: 15%;
    max-height: 1000px;
    position: relative;
}

#mobile-header {
    display: none;
}

.navigation h1, p{
    display: block;
    margin: 0px;
    font-size: var(--text-header-font-size-big);
}

.header-image {
    margin: 0px;
}

.under-text {
    margin-bottom: 4vw; 
    margin-left: 1vw;
    margin-right: 1vw;
}

#text {
    padding-top: 1vw;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    /* top: 20vw; */
    left: 50%;
    transform: translate(-55%, -210%);
    width: 90%;
    border-radius: 2vw;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.2);
}

.header-image {
    text-align: center;
    position: static;
}

#document-img {
    width: 80%;
    margin-top: 9vw;
    border-radius: 2vw;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: inline-block;
}

.motto {
    width: 100%;
    text-align: left;
    position: relative;
    display: grid;
    margin-top: -20vw;
    grid-template-columns: 1fr 1fr;
}

.phone {
    margin: 0;
    padding: 0;
    transition: color 0.3s;
    transition-timing-function: ease;
}

.phone:hover {
    color: #000;
}

#first {
    padding-top: 3.5vw;
    font-weight: 600;
    margin: 0px;
    font-size-adjust: inherit;
    font-size: var(--paragraph-first-and-second-font-size-big);
}

#second {
    font-size: var(--paragraph-first-and-second-font-size-big);
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    font-size-adjust: inherit;
}

#third {
    color: #112232;
    margin-left: 6vw;
    margin-right: 4vw;
    text-align: left;
    font-size: var(--motto-font-size-big);
    font-size-adjust: inherit;
    font-weight: 600;
    width: 70%;
    margin-top: 19vw;
}

.windows {
    background: #fff;
    display: grid;
    width: 85%;
    border-radius: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -140%);
    /* padding-bottom: 5.5vw; */
    padding-left: 10px;
    padding-right: 10px;
    min-width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.icon {
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 1vw;
    transition: width 0.3s ease;
}

.icon:hover {
    width: 58%;
}

.item {
    text-align: center;
    width: 100%;
    height: 19vw;
    display: inline;
    margin-bottom: 40px;
}

.item p {
    font-size: var(--icons-font-size-big);
}

.about-company {
    line-height: 2.75vw;

}

.between {
    background-color: var(--white);
    padding: 8vw 5vw 5vw 5vw;
    margin-top: 11vw;
    text-align: center;
    color: #112232;
}

.between h1{
    font-size: var(--between-h1-font-size-big);
    margin: 0;
    margin-bottom: 30px;
}

.between p {
    font-size: var(--between-paragraph-font-size-big);
    line-height: 2.1vw;
}

.contact {
    margin-top: 7vw;
    padding-bottom: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe {
    width: 30%;
    height: 117%;
    margin-top: 2vw;
    display: inline;
    border-radius: 2vw;
    margin-left: 6vw;
    min-width: 35vw;
    max-height: 35vw;
}

.info {
    margin-left: 0vw;
    padding-top: 3vw;
    color: var(--header);
    font-weight: 600;
    padding-right: 5vw;
}

.info p {
    font-size: var(--info-p-font-size-big);
    padding-bottom: 1vw;
    margin: 0px;
    font-size-adjust: inherit;
}

.info h1 {
    color: #112232;
    font-size: var(--between-h1-font-size-big);
    margin-bottom: 3.4vw;
}

.program h2 {
    font-size: 2.5vw;
}

.programs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7vw;
    background-color: #112232;
    padding-bottom: 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.program {
    padding: 3vw 3vw 5vw 3vw;
    margin: 1vw;
    border-radius: 2vw;
    display: inline;
    background: var(--orwhite);
}

.program p {
    font-size: 1.6vw;
}

.miniatura {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0.7vw;
    height: 23vw;
}

.program li {
    font-size: 1.5vw;
}

footer {
    height: 50vw;
    background-color: #000;
}

.foot {
    width: 100%;
}



@media screen and (max-width: 1368px){
    .navigation {
        font-size: var(--navigation-bar-font-size-medium);
        padding: 25px 0px;
    }

    #bottom-header {
        height: 55vw;
    }

    #text {
        top: 11vw;
    }

    #text p b {
        font-size: var(--text-header-font-size-medium);
    }

    #second, #first {
        font-size: var(--paragraph-first-and-second-font-size-medium);
    }

    .item {
        height: 23vw;
    }

    .item p {
        font-size: var(--icons-font-size-medium);
    }

    .windows {
        padding-bottom: 10px;
    }

    .motto {
        margin-top: -25vw;
    }

    #third {
        font-size: var(--motto-font-size-medium);
        margin-top: 13.5vw;
    }

    .between h1 {
        font-size: var(--between-h1-font-size-medium);
    }

    .between p {
        font-size: var(--between-paragraph-font-size-medium);
        line-height: 2.9vw;
    }

    .info p {
        font-size: var(--info-p-font-size-medium);
    }

    .info h1 {
        font-size: var(--info-h1-font-size-medium);
    }
}



@media screen and (max-width: 605px){

    .program p {
        font-size: 3.2vw;
    }

    .program li {
        font-size: 3.2vw;
    }

    .miniatura {
        width: 95%;
        height: 50vw;
        margin-top: 2vw;
    }

    .programs-container {
        grid-template-columns: 1fr;
    }

    #bottom-header {
        height: 410px;
        display: none;
    }

    #mobile-header {
        display: block;
        width: 100%;
        height: 180vw;
    }

    .windows {
        /* grid-template-columns: 1fr 1fr; */
        /* border-radius: 20px; */
        position: relative;
        display: flex;
        flex-wrap: wrap;
        left: 50%;
        transform: translate(-50%);
        top: -155vw;
        min-width: 100px;
        align-content: flex-start;
        width: 96%;
        border-radius: 15px;
        height: 165vw;
        padding: 0px 2%;
    }

    .motto {
        margin-top: -105vw;
        margin-bottom: 40vw;
    }

    .item {
        width: 50%;
        height: 30vw;
        margin-top: -2vw;
        margin-bottom: 22vw
    }

    .contact {
        grid-template-columns: 1fr;
        margin-bottom: -15vw;
    }

    iframe {
        margin-top: 18vw;
        border-radius: 15px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-57%,-50%);
        width: 90%;
        height: 500vw;
        min-height: 80vw;

    }

    .info {
        text-align: center;
        margin: 0vw 4.3vw;
        padding-top: 35vw;
        padding-right: 0px;
    }

    .info h1 {
        font-size: var(--info-h1-font-size-small);
        margin-bottom: 9vw;
    }

    .info p {
        font-size: var(--info-p-font-size-small);
        padding: 0px;
        margin-bottom: 3vw;
    }

    .between {
        padding: 45px 15px 15px 40px;
        margin-top: 19vw;
    }

    .between h1 {
        font-size: var(--between-h1-font-size-small);
    }

    .between p{
        font-size: var(--between-paragraph-font-size-small);
        line-height: 5.4vw;
    }

    .item p {
        font-size: var(--icons-font-size-small);
        font-size-adjust: inherit;
    }

    .icon{
        width: 40%;
    }

    .icon:hover {
        width: 45%;
    }

    #third {
        font-size: var(--motto-font-size-small);
        position: relative;
        width: 85%;
        left: 50%;
        transform: translate(-50%);
        margin: 0px;
        margin-bottom: 10vw;
        text-align: center;
    }

    #document-img {
        width: 88%;
        height: 105%;
        position: relative;
        left: 50%;
        border-radius: 5.5vw;
        transform: translate(-50%);
    }

    #text {
        transform: translate(-50%);
        padding: 8px;
        position: relative;
        top: -165vw;
        left: 47.2%;
        boreder-radius: 12px;
    }

    #text p b{
        font-size: var(--text-header-font-size-small);
    }

    #first, #second {
        font-size: var(--paragraph-first-and-second-font-size-small);
    }

    .motto {
        grid-template-columns: 1fr;
    }

    .about-company {
        padding: 15vw 5vw 15vw 5vw;
    }

    .navigation {
        font-size: var(--navigation-bar-font-size-small);
        padding: 0px 0px;
        margin-top: -10px;
    }

    .navigation a {
        display: none;
    }

    .navigation a:hover {
        background-color: #06101a;
        transition: .5s;
    }
    
    .navigation div {
        display: inline;
    }

    .navigation div img {
        display: block;
        width: 52px;
        margin-top: 8px;
        margin-left: 25px;
        padding: 10px;
        border-radius: 10px;
    }

    .navigation img:hover{
        cursor: pointer;
        background-color: #06101abe;
        transition: 0.3s;
        /* padding-right: 50vw;
        padding-bottom: 100px; */
    }

    .navigation div:hover nav a{
        transition: 0.3s;
        display: block;
        margin: 0px 70px;
        padding: 5px 0px;
        margin-bottom: 12px;
        position: relative;
        
    }
}
