@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --background: #D3DAE2;
    --background2: #C5CCCD;
    --navbar: #e0e7e9;
    --other: #0F2B36;

    --font-size-h1-screen: 75px;
    --font-size-h2-screen: 65px;
    --font-size-h3-screen: 50px;
    --font-size-paragraph-screen1: 18px;
    --font-size-paragraph-screen2: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

main {
    width: 1440px;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: var(--navbar); /* rgba(216, 225, 235, .95) */
    backdrop-filter: blur(10px);
    z-index: 999;
}

header img {
    width: 100px;
    height: 40px;
    padding-left: 40px;
}

.menu {
    display: none;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding: 25px;
    color: #000;
    font-size: var(--font-size-paragraph-screen2);
}

li {
    display: inline;
}

ul a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.2s;
}

ul a:hover {
    background-color: rgba(197, 204, 205, .8);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 220px 40px 0px 40px;
}

.headerImg {
    width: 100%;
    border-radius: 30px;
}

.heroTextContainer {
    margin: auto 0;
    padding-right: 150px;
}

.heroTextContainer h1{
    font-family: 'Gidugu';
    font-size: var(--font-size-h1-screen);
    line-height: 45px;
    font-weight: 500;
    margin: 0px;
}

.heroTextContainer .text {
    font-size: var(--font-size-paragraph-screen1);
    width: 450px;
    line-height: 24px;
    margin: 0px;
    margin-top: 35px;
}

.aboutComapny {
    background-image: url(img/dron.jpg);
    background-size: cover;
    height: 500px;
    border-radius: 30px;
    margin: 140px 35px 0px 35px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.aboutH1, .aboutP {
    color: #fff;
    text-align: center;
    font-size: var(--font-size-paragraph-screen1);
}

.aboutP {
    line-height: 28px;
}

.aboutH1 {
    font-family: 'Gidugu';
    font-size: var(--font-size-h1-screen);
    line-height: 10px;
    margin: 0;
    margin-bottom: 55px;
    font-weight: 500;
}

.aboutCompanyText {
    width: 900px;
    padding-top: 120px;
}

.documents {
    padding-top: 0px;
    margin-top: 140px;
    margin-bottom: 50px;
}

.icons {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 230px;
    margin-bottom: 230px;
}

.element {
    width: 150px;
}

.icon {
    width: 110px;
    height: 110px;
    display: block;
    margin-left: 22px;
    transition: .3s;
}

.icon:hover {
    width: 128px;
    height: 128px;
    margin-left: 15px;
}

.element p {
    font-size: var(--font-size-paragraph-screen1);
    line-height: 24px;
    text-align: center;
    font-weight: 600;
}

.programs {
    background-color: var(--background2);
    margin-bottom: 200px;
    border-radius: 30px;
}

#title {
    font-family: 'Gidugu';
    font-size: 70px;
    line-height: 50px;
    padding: 80px 0px 40px 65px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0px 20px;
    padding-bottom: 40px;
}

.program {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #fff;
    height: auto;
    width: 95%;
    margin: 0px 17px;
    margin-bottom: 30px;
    box-shadow: 12px 12px #868b8b;
    border-radius: 15px;
}

.miniaturaMobile {
    display: none;
    width: 0;
    height: 0;
}

.miniatura {
    width: calc(100% - 20px);
    max-width: 250px;
    height: 100%;
    border-radius: 15px;
}

.program-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Gidugu';
    font-size: var(--font-size-h3-screen);
    line-height: 32px;
    font-weight: 500;
    margin: 20px 10px 30px 0px;
}


.description {
    display: block;
    margin: 0px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.program button {
    display: block;
    height: 50px;
    background-color: var(--other);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: var(--font-size-paragraph-screen3);
    width: 165px;
    margin-bottom: 25px;
    margin-right: 20px;
    transition: .3s;
    font-weight: 500;
}

.program button:hover {
    background-color: var(--background2);
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.program button:active {
    color: #fff;
    font-weight: 400;
}

.cennik {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.cennik p {
    font-size: var(--font-size-paragraph-screen1);
    text-align: center;
    width: 700px;
}

.cennik h2 {
    font-family: 'Gidugu';
    font-size: var(--font-size-h1-screen);
    font-weight: 500;
    line-height: 40px;
    margin: 0px;
    margin-bottom: 25px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.formTitile {
    line-height: 40px;
    font-size: 75px;
    font-family: 'Gidugu';
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
}

.form {
    margin-left: 35px;
}

input, textarea{
    padding: 20px 30px;
    border: none;
    display: block;
    margin-bottom: 40px;
    border-radius: 30px;
    background-color: var(--background2);
    width: 320px;
    font-family: 'Inter';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: var(--font-size-paragraph-screen2);
}

input::placeholder,textarea::placeholder{
    color: #000;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: normal;
    font-size: var(--font-size-paragraph-screen3);
}

input[type=submit] {
    width: 110px;
    padding: 15px 25px;
    font-weight: 600;
    color: var(--background);
    background-color: var(--other);
    transition: .25s;
    font-size: 14px;
}

input[type=submit]:hover {
    background-color: var(--background2);
    color: #000;
    cursor: pointer;
}

input[type=submit]:active {
    background-color: var(--background);
    color: #868b8b;
}

.contactIds h2 {
    font-family: 'Gidugu';
    font-size: var(--font-size-h2-screen);
    margin: 0;
    margin-bottom: 1px;
    line-height: 40px;
    font-weight: 500;
}

.contactIds p {
    margin: 0;
    font-size: var(--font-size-paragraph-screen1);
    margin-bottom: 100px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 600px;
}

.item button img {
    width: 40px;
    height: 40px;
}

.item button {
    padding: 15px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 100px;
    background-color: var(--background2);
    transition: .2s;
}

.item button:hover {
    background-color: #acb2b3;
}

.item a {
    margin-left: 30px;
    font-weight: 500;
    font-size: var(--font-size-paragraph-screen1);
}

footer {
    width: 100%;
    display: block;
    position: absolute;
    left: 0px;
    bottom: -4600px;
    background-color: var(--other);
    color: #fff;
    text-align: center;
    padding: 30px 0px;
}

footer p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}





@media screen and (max-width: 1268px){
    .program-text button {
        font-size: 14px;
    }

    footer {
        bottom: -4600px;
    }
}

@media screen and (max-width: 1050px){
    .heroTextContainer h1 {
        font-size: 50px;
        line-height: 35px;
    }

    .heroTextContainer {
        padding-right: 20px;

    }

    .heroTextContainer .text {
        margin-top: 10px;
        font-size: 18px;
    }

    .aboutH1 {
        font-size: 65px;
    }

    .aboutP {
        font-size: 16px;
    }

    .icon {
        width: 90px;
        height: 90px;
        margin-left: 35px;
    }

    .icon:hover {
        width: 110px;
        height: 110px;
        margin-left: 25px;
    }

    .element p {
        font-size: 16px;
    }

    .icons {
        margin-bottom: 100px;
    }

    #title {
        margin-top: 0;
        font-size: 55px;
        padding: 50px 0px 60px 40px;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .program {
        margin-bottom: 80px;
        grid-template-columns: 30% 70%;
    }

    .miniatura {
        width: 100%;
        max-width: 300px;
        min-width: 200px;
        min-height: 500px;
        max-height: 600px;
    }

    .program-text {
        align-items: flex-start;
        font-size: 18px;
    }

    .program .title {
        margin: 30px 0px 40px 50px;
    }

    .description {
        margin: 0 20px 100px 50px;
    }

    .program-text button {
        margin: 0 auto 40px auto;
        font-size: 15px;
    }

    .program-text button:active {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
    }

    .cennik h1 {
        font-size: 65px;
    }

    .contact {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 200px;
    }

    input[type=submit] {
        margin-bottom: 0;
    }

    textarea {
        margin-bottom: 15px;
    }

    footer {
        margin-top: 250px;
        position: static;
    }
}

@media screen and (max-width: 985px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .heroTextContainer {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    .heroTextContainer h1 {
        font-size: 75px;
        line-height: 50px;
        text-align: center;
        margin-bottom: 30px;
    }

    .text {
        font-size: 18px;
        text-align: center;
    }

    .headerImg {
        width: 70%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
    }

    .aboutComapny {
        width: 91vw;
        margin: 150px auto;
        margin-bottom: 250px;
    }

    .aboutCompanyText {
        padding-top: 80px;
        width: 80%;
        min-width: 200px;
    }

    .aboutP {
        font-size: 16px;
        line-height: 23px;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 80vw;
        z-index: -1;
        margin-bottom: 300px;
    }

    .program {
        height: 400px;
    }

    .miniatura {
        height: 400px;
        min-height: 100px;
    }

    .description {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .cennik {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 70vw;
    }

    .cennik p {
        width: 100%;
    }

    .contactIds {
        margin: 0;
    }

    .item button:hover {
        background-color: var(--background2);
    }
}

@media screen and (max-width: 650px) {
    main {
        width: 100%;
    }

    .headerImg {
        width: 95%;
    }

    .aboutComapny {
        height: 700px;
    }

    header {
        padding: 0;
        height: 80px;
    }

    header img {
        display: none;
    }

    .dropdown {
        padding-top: 10px;
        display: block;
        width: 100%;
        position: relative;
        z-index: 999;
        backdrop-filter: blur(40px);
    }

    ul {
        z-index: 3;
        position: absolute;
        padding: 20px 0;
        top: 70px;
        margin: 0;
        width: 100%;
        background-color: var(--navbar); /* rgba(216, 225, 234) */
        backdrop-filter: blur(40px);
        display: none;
    }

    ul a {
        display: block;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 150px;
        padding: 5px;
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .logoMobile {
        position: absolute;
        width: 80px;
        height: 30px;
    }

    .menu {
        display: inline;
        width: 40px;
        height: 40px;
        padding: 8px 10px;
        margin-left: 25px;
        transition: .2s;
        border-radius: 10px;
    }

    .dropdown .menu:focus + ul,
    .dropdown:hover ul,
    .dropdown ul:hover{
        display: block;
    }

    .menu:hover {
        background-color: var(--background);
    }

    .menu:hover nav {
        display: block;
    }

    #title {
        width: calc(100% - 80px);
        padding: 0;
        font-size: 50px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding-top: 50px;
        line-height: 35px;
    }

    .programs {
        width: 100%;
        min-width: 300px;
    }

    .container {
        width: calc(100% - 80px);
        padding: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .program {
        width: 100%;
        height: 450px;
        margin: 0;
        margin-bottom: 80px;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
    }

    .program-text {
        align-items: center;
    }

    .program .title {
        text-align: center;
        width: 95%;
        margin-top: 30px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .description {
        margin: 0;
        width: 90%;
        text-align: center;
    }

    .miniaturaMobile {
        display: inline;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .miniatura {
        display: none;
        background-image: url(img/premie2.png);
        background-size: contain;
        height: 100%;
        /* object-fit: cover; */
        max-width: 1000px;
        width: 100%;
    }

    .item {
        margin-left: 50px;
    }
    
    .program button {
        margin: 0;
        margin-bottom: 25px;
    }

    .contactIds {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .contact h2 {
        width: 150px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .contact p {
        width: 200px;
        font-size: 16px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .item {
        width: calc(100% - 60px);
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .value {
        width: calc(100%-30px);
    }
}

@media screen and (max-width: 545px) {
    ul a {
        font-size: 16px;
    }

    .hero {
        padding: 0;
        padding-top: 180px;
    }

    .heroTextContainer h1 {
        font-size: 50px;
        line-height: 38px;
        width: 95%;
        margin-bottom: 12px;
    }

    .hero .text {
        margin-top: 0;
        font-size: 16px;
        line-height: 22px;
        width: 85%;
    }

    .aboutComapny {
        width: 95%;
        margin: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-top: 35px;
    }

    .documents {
        margin-top: 150px;
        padding-top: 0;
    }

    .icons {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 150px;
    }

    .element {
        margin-bottom: 30px;
    }

    .element p {
        font-size: 15px;
        line-height: 18px;
    }

    .icon {
        width: 80px;
        height: 80px;
        margin-left: 38px;
    }

    #title {
        font-size: 45px;
        line-height: 30px;
        width: 90%;
    }

    .container {
        width: 90%;
    }

    .program {
        height: 700px;
        box-shadow: none;
    }

    .cennik h2 {
        font-size: 60px;
    }

    .cennik p {
        font-size: 16px;
    }

    .formTitile {
        width: 95%;
        text-align: center;
        font-size: 60px;
    }

    input[type=text],
    input[type=email],
    textarea {
        padding: 15px 20px;
        display: block;
    }

    input::placeholder,textarea::placeholder {
        font-size: 12px;
    }

    input[type=submit] {
        font-size: 13px;
    }

    .contactIds h2 {
        font-size: 55px;
    }

    .contactIds p {
        font-size: 15px;
    }

    .contactIds button {
        width: 60px;
        height: 60px;
    }

    .item button img {
        width: 32px;
        height: 32px;
    }

    .item a {
        font-size: 16px;
        margin-left: 15px;
    }

    footer p{
        font-size: 10px;
    }
}

@media screen and (max-width: 375px) {
    ul a {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .aboutComapny {
        height: 700px;
    }

    .aboutCompanyText {
        width: 90%;
    }

    .icon {
        width: 65px;
        height: 65px;
        margin-left: 35px;
    }

    .element {
        width: 100%;
    }

    .element p {
        font-size: 14px;
    } 

    .container {
        width: 100%;
    }

    .form {
        min-width: 300px;
        width: 100%;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: calc(100% - 60px);
    }
}
